@page "/network/create"
@using System.Net

@inject IUnitOfWork _uow
@inject NavigationManager Nav


@if (_network is null)
{
    <a>Loading...</a>    
}
else
{
    
    <div class="container" style="max-width: 40em">
        <div class="row" style="margin-bottom: 1em;">
            <h3>Create a new Network</h3>
        </div>
        @if (_errorMessage is not null)
        {
            <a style="color: #ff0707">@_errorMessage</a>    
        }
        <div class="row" style="margin-bottom: 1em;">
            <h4>Network Name</h4>
            <RadzenTextBox Style="margin-left: 0.8em" @bind-Value="_network.Name" />
        </div>
        <div class="row" style="margin-bottom: 1em;">
            <h4>NetworkID</h4>
            <RadzenTextBox Style="margin-left: 0.8em" @bind-Value="_network.IpNetworkId" Placeholder="192.168.1.0"/>
        </div>
        <div class="row" style="margin-bottom: 1em;">
            <h4>Subnetmask</h4>
            <RadzenNumeric Style="margin-left: 0.8em" @bind-Value="_network.SubnetMask" Max=32 Min=1 Placeholder=24 />
        </div>
        <div class="row" >
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click=CancelSubmit Style="min-width: 10em; float: right;">Cancel</RadzenButton>
            </div>
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click=ValidSubmit Style="min-width: 10em; float: right;">Save</RadzenButton>
            </div>
        </div>
    </div>
}
@code {
    private Network _network = new();
    private string _errorMessage = string.Empty;
    
    private async Task ValidSubmit()
    {
        if (!await IsValid())
        {
            // input is invalid
            return;
        }
        
        await _uow.INetworkRepository.Create(_network);
        await _uow.SaveChangesAsync();
        Nav.NavigateTo("/networks");
    }
    
    private async Task CancelSubmit()
    {
        Nav.NavigateTo("/networks");
    }

    private async Task<bool> IsValid()
    {
        if (String.IsNullOrEmpty(_network.Name))
        {
            _errorMessage = "ERROR: Network name cannot be null!";
            return false;
        }

        if (String.IsNullOrEmpty(_network.IpNetworkId))
        {
            _errorMessage = "ERROR: NetworkId cannot be null!";
            return false;
        }

        if (_network.SubnetMask > 31 || _network.SubnetMask < 1)
        {
            _errorMessage = "ERROR: Subnetmask is invalid (1-31)!";
            return false;
        }

        try
        {
            IPAddress.Parse(_network.IpNetworkId);
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            return false;
        }

        _errorMessage = string.Empty;
        return true;
    }
}