@page "/network/create"
@using System.Net

@inject IUnitOfWork _uow
@inject NavigationManager Nav
@inject NotificationService NotificationService


@if (_network is null)
{
    <a>Loading...</a>    
}
else
{
    
    <div class="container" style="max-width: 40em">
        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <h2>Create a new Network</h2>
            </div>
        </div>
        @if (_errorMessage is not null)
        {
            <div class="row">
                <div class="col">
                    <a style="color: #ff0707">@_errorMessage</a> 
                </div>
            </div>
        }
        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <h4>Network Name</h4>
                <RadzenTextBox Style="width: 100%" @bind-Value="_network.Name"/>
            </div>
        </div>
        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <h4>NetworkID</h4>
                <RadzenTextBox Style="width: 100%" @bind-Value="_network.IpNetworkId" Placeholder="192.168.1.0"/>
            </div>
        </div>
        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <h4>Subnetmask</h4>
                <RadzenNumeric Style="width: 100%" @bind-Value="_network.SubnetMask" Max=32 Min=1 Placeholder=24/>
            </div>
        </div>
        <div class="row" >
            <div class="col" style="width: 100%">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click=ValidSubmit Style="float: right;">Save</RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click=CancelSubmit Style="float: right; margin-right: 1em;">Cancel</RadzenButton>
            </div>
        </div>
    </div>
}
@code {
    private Network _network = new();
    private string _errorMessage = string.Empty;
    
    private async Task ValidSubmit()
    {
        if (!await IsValid())
        {
            // input is invalid
            return;
        }
        
        await _uow.INetworkRepository.Create(_network);
        await _uow.SaveChangesAsync();
        Nav.NavigateTo("/networks");
        NotificationService.Notify(new NotificationMessage() {Summary = "Network created", Detail = $"{_network.Name} has been created successfully!", Duration = 4000, Severity = NotificationSeverity.Success});
    }
    
    private async Task CancelSubmit()
    {
        Nav.NavigateTo("/networks");
    }

    private async Task<bool> IsValid()
    {
        if (String.IsNullOrEmpty(_network.Name))
        {
            _errorMessage = "ERROR: Network name cannot be null!";
            return false;
        }

        if (String.IsNullOrEmpty(_network.IpNetworkId))
        {
            _errorMessage = "ERROR: NetworkId cannot be null!";
            return false;
        }

        if (_network.SubnetMask > 31 || _network.SubnetMask < 1)
        {
            _errorMessage = "ERROR: Subnetmask is invalid (1-31)!";
            return false;
        }

        try
        {
            IPAddress.Parse(_network.IpNetworkId);
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            return false;
        }

        _errorMessage = string.Empty;
        return true;
    }
}